[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.0.1"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-thumbnails = "*"
drf-spectacular = "*"
celery = "*"
redis = "*"
django-celery-results = "*"
django-celery-beat = "*"
flower = "*"
debugpy = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
psycopg2 = "*"
django-pytest = "*"
django-elasticsearch-dsl = "*"

[dev-packages]

[requires]
python_version = "3.10"
